body{
    // position: relative;
    // z-index: 1;
    background-color: #fff;
}

#contact{
    font-family: sans-serif;
    background-color: whitesmoke;
    padding-bottom: 20vh;
}

.contact-header , .contact-form{
    margin-top: 100px;
    display: inline-block;
}

.contact-header-thin{
    font-size: 48px;
    margin-bottom: -20px;
    margin-left: -50px;
    color: #333;
}

.contact-header-bold{
    font-size: 48px;
    font-weight: bolder;
}

.contact-form{
    form{
        display: inline-block;
    }
}

.f-first-row{
    display: flex;
    input{
        border: none;
        padding: 15px;
        margin-right: 10px;
    }
}

.f-second-row{
    display: flex;
    margin-top: 10px;
    select{
        border: none;
        padding: 15px;
        margin-right: 10px;
        color: #333;
    }
    input{
        border: none;
        padding: 15px;
        width: 100%;
        margin-right: 10px;
    }
}

.f-third-row{
    margin-top: 10px;
    select{
        border: none;
        padding: 15px;
        width: 98%;
        color: #333;
    }
}

.f-fourth-row{
    margin-top: 10px;
    button{
        border: none;
        padding: 15px;
        width: 98%;
        font-weight: bolder;
        font-size: 18px;
        background-color: rgb(250, 187, 70);
        color: white;
        &:hover{
            background-color: orange;
        }
    }
}

.academy , .education-fields{
    margin-top: 10%;
    P{
        font-weight: bolder;
    }
    a{
        display: block;
        padding: 5px;
        text-decoration: none;
        color: #333;
    }
}

.cooperative{
    margin-top: 10%;
    a{
        font-weight: bolder;
        display: block;
        padding: 5px;
        text-decoration: none;
        color: black;
    }
}

.place{
    width: 100%;
    background-color: whitesmoke;
    margin-top: 50px;
}
.place-info{
    display: flex;
    justify-content: center;
    align-items: center;
    P{
        display: inline-block;
        padding: 10px;
        margin: 0 auto;
        text-align: center;
    }
    padding: 10px;
}

.site-footer{
    margin: 35px;
}
.site-footer_container{
    display: flex;
    justify-content: center;
}
.license , .logo , .socials{
    display: flex;
    justify-content: center;
    align-self: center;
}
.socials{
    i{
        margin-right: 20px;
    }
}

footer{
    position: sticky;
    bottom: 0px; 
    z-index: -1;
}

@media screen and (min-width:768px) and (max-width: 992px) {
    .contact-header-thin{
        margin-left: 0;
    }
}

@media screen and (max-width:768px) {
    .logo{
        width: 100%;
        margin-bottom: 3%;
    }
    .socials{
        i{
            margin: 0 15px;
        }
    }

    .contact-header-thin{
        margin-left: 0;
    }
    .contact-form{
        display: flex;
        justify-content: center;
    }
    .f-first-row , .f-second-row , .f-third-row , .f-fourth-row{
        display: block;
        margin: 0;
        input{
            width: 98%;
            margin: 5px;
        }
        select{
            width: 98%;
            margin: 5px;
        }
        button{
            width: 98%;
            margin: 5px;
        }
    }
    .license{
        display: none;
    }
}